git:
  depth: 1

language: node_js
node_js:
  - "10"
dist: xenial

env:
  - HAXE_VERSION=haxe347
  - HAXE_VERSION=haxe4
  - HAXE_VERSION=nightly

install:
  - npm install
  - if [[ "$HAXE_VERSION" == "haxe347" ]]; then mv haxe_libraries haxe4_libraries; mv haxe3_libraries haxe_libraries; fi
  - if [[ "$HAXE_VERSION" == "haxe347" ]]; then npx lix download haxe 3.4.7; npx lix use haxe 3.4.7; fi
  - if [[ "$HAXE_VERSION" == "haxe4" ]]; then npx lix download haxe 4.1.4; npx lix use haxe 4.1.4; fi
  - if [[ "$HAXE_VERSION" == "nightly" ]]; then npx lix download haxe nightly; npx lix use haxe nightly; fi
  - npx lix download
  - npx haxe -version
  - npx neko -version
  - git clone -b dev https://github.com/HaxeCheckstyle/haxe-checkstyle.git --depth=1 checkstyle
  - (cd checkstyle; npm install)
  - if [[ "$HAXE_VERSION" == "haxe347" ]]; then (cd checkstyle && mv haxe_libraries haxe4_libraries && mv haxe3_libraries haxe_libraries;); fi
  - if [[ "$HAXE_VERSION" == "haxe347" ]]; then (cd checkstyle && npx lix download haxe 3.4.7 && npx lix use haxe 3.4.7); fi
  - if [[ "$HAXE_VERSION" == "haxe4" ]]; then (cd checkstyle && npx lix download haxe 4.1.4 && npx lix use haxe 4.1.4); fi
  - if [[ "$HAXE_VERSION" == "nightly" ]]; then (cd checkstyle && npx lix download haxe nightly && npx lix use haxe nightly); fi
  - (cd checkstyle; npx lix download)
  - (cd checkstyle/haxe_libraries; echo "-cp ../src" > tokentree.hxml)

script:
  - npx haxe test.hxml -D codecov_json
  - (cd checkstyle && npx haxe buildAll.hxml && rm -f coverage.json)
  - neko checkstyle/run.n -s src -s test

after_success:
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
