git:
  depth: 1

language: haxe

after_success:
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
sudo: false
dist: trusty

matrix:
  include:
    - haxe: 3.4.7
      install:
        - yes | haxelib install haxeparser 3.3.0
        - haxelib git hxparse https://github.com/simn/hxparse
        - yes | haxelib git haxeparser https://github.com/simn/haxeparser
        - haxelib git mcover https://github.com/AlexHaxe/mcover add_lcov_printclient src
        - haxelib install munit
        - haxelib install mconsole
        - haxelib git hxnodejs https://github.com/HaxeFoundation/hxnodejs.git master
        - haxelib dev tokentree .
        - git clone -b dev https://github.com/HaxeCheckstyle/haxe-checkstyle.git --depth=1 checkstyle
        - sed -i 's/:3.3.0//' checkstyle/buildGlobal.hxml
      script:
        - haxe test.hxml -D codecov_json
        - haxelib set haxeparser 3.3.0
        - cd checkstyle && haxe buildAll.hxml && rm -f coverage.json && cd ..
        - neko checkstyle/run.n -s src -s test
    - haxe: development
      install:
        - haxelib git hxparse https://github.com/simn/hxparse
        - yes | haxelib git haxeparser https://github.com/simn/haxeparser
        - haxelib git mcover https://github.com/AlexHaxe/mcover add_lcov_printclient src
        - haxelib git munit https://github.com/AlexHaxe/MassiveUnit.git master src
        - haxelib git hxnodejs https://github.com/HaxeFoundation/hxnodejs.git master
        - haxelib install mlib
        - haxelib install mconsole
        - haxelib dev tokentree .
        - git clone -b dev https://github.com/HaxeCheckstyle/haxe-checkstyle.git --depth=1 checkstyle
        - sed -i 's/:3.3.0//' test.hxml
        - sed -i 's/:3.3.0//' checkstyle/buildGlobal.hxml
      script:
        - haxe test.hxml -D codecov_json
        - cd checkstyle && haxe buildAll.hxml && rm -f coverage.json && cd ..
        - neko checkstyle/run.n -s src -s test
